/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: if($variant == 'light', $checked_bg_color, $system_bg_color);
}

.overview-controls {
  padding-bottom: 32px;
}
